# Ignore virtual environment
venv/

# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo 
*.pyd
*.db 
.idea/
.vscode/
# Ignore database or chroma data
chroma_memory/
zeta_memory/

# Ignore system files
.DS_Store
